#map1 {
	
	height: 200px;
	width: 390px;
	
}




* {
	box-sizing: border-box;
}

header h3 {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}





.container .panel-body li {
	list-style-type: square;

}

.container .col-md-4 {
	/*border: thin solid red;*/
	text-align: center;

}



.flexContainerRow {
	/*border: thin solid blue;*/

	display: flex;
	flex-direction: row;
	/*margin-bottom: 10px;*/
	height: 195px;
}

.flexContainerRow2 {
	/*border: thin solid blue;*/

	display: flex;
	flex-direction: row;
	/*margin-bottom: 10px;*/
	height: 210px;
}

.flexItem1 {
	margin: auto;
	width: 750px;
}

.flexItem2 {
	margin: auto;
	/*border: thin solid orange;*/
	
}






/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/

/*Large*/
@media screen and (min-width: 1200px)  {

	#fHPicLg {
		width: 691px;
		height: 437px;
	}


	#aFRPicXs{
		width: 290px;
		height: 180px;
	}




}

/*Medium*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

	#fHPicLg {
		width: 691px;
		height: 437px;
	}



	#aFRPicXs{
		width: 290px;
		height: 180px;
	}

}


/*Small*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	#map1 {
	
	
	width: 590px;
	
	}


	#textCon {
		padding-left: 0px;
		padding-right: 0px;
	}

	#textCon p {
		font-size: 21px; 

	}

	#fHPicLg{
		width: 691px;
		height: 437px;
	}

	#aFRPicLg{
		width: 690px;
		height: 388px;
	}

	#lOPBWHSPicLg{
		width: 690px;
		height: 388px;
	}

	#lBDWIDPicLg{
		width: 690px;
		height: 388px;
	}
}

/*Extra Small*/
@media screen and (max-width: 767px) {

	#conHousePictures .col-xs-12 {
	padding-left: 0px;
	padding-right: 0px;
}

	#map1 {
	
	
	width: 290px;
	
	}

	.flexContainerRow {
		height: 126px;
	}

	.flexContainerRow2 {
		height: 212px;
	}


	.container-fluid h1 {
		width: 100%;
	}

	#fHPicXs{
		width: 320px;
		height: 202px;
	}

	#aFRPicXs{
		width: 290px;
		height: 180px;
	}

	#lOPBWHSPicXs{
		width: 290px;
		height: 180px;
	}


	#lBDWIDPicXs{
		width: 290px;
		height: 180px;
	}


}




